{
  "repositories": [
    {
      "name": "Obsidian",
      "path": "~/ObsidianVault",
      "branch": "main",
      "enabled": true,
      "cronSpec": "*/5 * * * *"
    },
    {
      "name": "Bruno",
      "path": "~/Documents/BrunoCollections",
      "branch": "main",
      "enabled": true
    }
  ]
}
